
.container {
    padding: 64px 40% 32px 40% ;

}

@media (max-width: 900px) {
    .container {
        padding: 64px 25% 32px 25% ;
    }
  }

@media (max-width: 600px) {
.container {
    padding: 64px 20% 32px 20% ;
}
}
  

.search-container p {
    text-align: center;
    font-weight:600;
    color: #625f5f;
 
}

.search-container, input, p, button {
    width:100%
}

input {
        box-sizing: border-box;
        padding-left: 36px;
        background: url("/assets/search.png") no-repeat scroll 7px;
        background-size: 20px;
        background-color:white;
        line-height: 1.9;
        outline: none;
        border: 1px solid #e4e4e4;
        border-radius: 4px;
        font-size: 16px;
        color: darkslategray;
}

button {
    margin-top: 32px;
    background-color: #38b896;
    color: white;
    font-size: 14px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    height: 34px;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #2aa081;
}

.result-container p {
    text-align: left;
    font-size: 13px;
    color: #bfc1d0;
    font-weight: 600;

}

.card {
    border: 2px solid #f2f2f6;
    border-radius: 4px;
}